$bgColor: #f8f8f8;
$txtColor: #3c3c3c;
$borderColor: #f0f0f0;
$mainColor: #a953a8;

$maxwidth: 980px;

a {
  color: $txtColor;
  text-decoration: none;
}

img {
  display: block;
}


.container {
  margin: 0 30px;
  border-right: 1px solid $borderColor;
  border-left: 1px solid $borderColor;
}
