$bgColor: #f8f8f8;
$txtColor: #3c3c3c;
$mainColor: #a953a8;

$maxwidth: 980px;

a {
  color: $txtColor;
  text-decoration: none;
  transition: all .5s ease-out;
  &:hover {
    opacity: .7;
  }
}

img {
  display: block;
}
