.companyPage {
  @extend .contactPage;
  &_wrapper {
    @extend .contactPage_wrapper;
  }
}

.companyInfo {
  tr {
    display: flex;
    align-items: center;
    font-size: 14px;
  }
  &_name, &_detail {
    padding: 30px 0;
    display: block;
    border-bottom: 1px solid $borderColor;
    &-right {
      margin: 0 0 0 20px;
    }
  }
  &_name {
    width: 25%;
    margin-right: 4vw;
  }
  &_detail {
    width: 75%;
  }
}

.securityAction {
  margin-top: 30px;
  z-index: 20;
  position: relative;
  text-align: center;
  &_link {
    display: inline-block;
  }
}

@media screen and (max-width: 480px) {
  .companyInfo {
    tr {
      flex-direction: column;
      align-items: flex-start;
    }
    &_name, &_detail {
      width: 100%;
      padding: 15px;
      border: none;
      &-right {
        margin: 0;
      }
    }
    &_name {
      font-weight: bold;
      background: $bgColor;
      margin-right: 0;
    }
  }

}
