.frontPageHeader {
  background: url('./assets/img/frontPage/mainHero.jpg');
  background-size: cover;
  background-position: center;
  &_wrapper {
    height: 80vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
