/*---------------------------
---------- frontPage ---------
-----------------------------*/

.frontPageHeader {
  background-image: url('./assets/img/frontPage/mainHero.jpg');
  background-size: cover;
  background-position: center;
  &_wrapper {
    height: 80vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  &_txtWrapper {
    margin: 0 0 50px 0;
    line-height: 1.5;
    text-align: center;
  }
  &_title {
    color: $mainColor;
    font-size: 50px;
    letter-spacing: 0.05em;
  }
  &_subTitle {
    color: #fff;
    letter-spacing: .7em;
  }
}

.frontServices {
  background: #f8f8f8;
  &_wrapper {
    height: 600px;
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: relative;
    img {
      position: absolute;
      top: 28%;
      left: auto;
      right: auto;
      z-index: 10;
    }
  }
  &_txt {
    margin: 0 0 15px 0;
    display: none;
    color: $txtColor;
    font-family: $mainFont;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    letter-spacing: 0.1em;
  }
}

.frontServicesItem {
  height: 600px;
  width: 50%;
  background: #fff;
  display: inline-block;
  position: absolute;
  &_wrapper {
    height: 100%;
    padding: 100px 80px;
    display: flex;
    flex-direction: column;
  }
  &_title {
    margin: 0 0 20px 0;
    color: $mainColor;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0.15em;
  }
  &_subTitle {
    color: $txtColor;
    font-family: 'Noto Sans Japanese';
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.05em;
  }
  &_txt {
    margin: 60px 0 0 0;
    font-size: 14px;
    letter-spacing: 0.05em;
    line-height: 2;
    text-align: justify;
    text-justify: inter-ideograph;
  }
  &_btn {
    @extend .POMBtn;
    width: 240px;
    margin: auto auto 0;
    &:hover {
      color: #fff;
      background: $txtColor;
    }
  }
}

.frontRenovation {
  top: -60px;
  left: 0;
}

.frontPropertySales {
  top: 60px;
  right: 0;
}

/*----- frontCompany -----*/

.frontCompany {
  height: 639px;
  background-image: url('./assets/img/frontPage/companybg.jpg');
  &_wrapper {
    height: 100%;
    padding: 140px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
  }
  &_title {
    font-size: 34px;
    letter-spacing: 0.15em;
  }
  &_subTitle {
    letter-spacing: 0.1em;
  }
  &_txt {
    margin: 50px 0 70px;
    text-align: center;
    line-height: 2.5;
    letter-spacing: 0.05em;
  }
  &_btn {
    @extend .POMBtn;
    width: 240px;
    color: #fff;
    border: 1px solid #fff;
    &:hover {
      background: #fff;
      color: $mainColor;
    }
  }
}

/*----- frontNews -----*/
.frontNews {
  background: $bgColor;
  padding: 105px 0;
  &_wrapper {
    position: relative;
    max-width: 1180px;
    margin: 0 auto;
    background: #fff;
    padding: 150px 0;
  }
  &_title {
    position: absolute;
    left: -38px;
    top: 20px;
    display: flex;
    flex-direction: column;
    &-l {
      font-size: 34px;
      color: $mainColor;
      letter-spacing: 0.15em;
    }
    &-s {
      font-size: 16px;
    }

  }
}


@media screen and (max-width: 1280px) {
  .frontNews {
    &_wrapper {
      margin: 0 20px;
      padding: 50px 0 150px;
    }
    &_title {
      margin: 0 0 50px 0;
      position: static;
      text-align: center;
    }
  }
}

@media screen and (max-width: 980px) {
  .frontServicesItem {
    &_wrapper {
      padding: 80px 60px;
    }
  }

  .frontNews {
    &_wrapper {
      padding: 50px 0 150px;
    }
    &_title {
      margin: 0 0 50px 0;
      position: static;
      text-align: center;
    }
  }
}

@media screen and (max-width: 768px) {
  .frontPageHeader {
    &_wrapper {
      height: 65vh;
    }
  }

  .frontServices {
    &_wrapper {
      height: auto;
      padding: 50px;
      flex-direction: column;
      align-items: center;
      img {
        display: none;
      }
    }
    &_txt {
      display: block;
    }
  }

  .frontServicesItem {
    width: 100%;
    margin: 0 0 30px 0;
    position: static;
    &_wrapper {
      padding: 80px;
    }
    &_title {
      margin: 0 0 10px 0;
    }
    &_txt {
      letter-spacing: 0.2em;
    }
  }

}

@media screen and (max-width: 480px) {
  .frontPageHeader {
    background-position: right;
    &_wrapper {
      height: 80vh;
    }
    &_txtWrapper {
      margin: 0 0 80px 0;
    }
    &_title {
      font-size: 38px;
    }
  }

  .frontServices {
    &_wrapper {
      padding: 20px 20px 50px;
    }
    &_txt {
      font-size: 30px;
    }
  }

  .frontServicesItem {
    height: 550px;
    &_wrapper {
      padding: 60px;
    }
    &_title {
      font-size: 20px;
    }
    &_subTitle {
      font-size: 12px;
    }
    &_txt {
      font-size: 12px;
    }
    &_btn {
      width: 222px;
      margin: auto auto 0;
      &:hover {
        color: #fff;
        background: $txtColor;
      }
    }
  }

  .frontCompany {
    &_wrapper {
      padding: 80px 0 0;
    }
    &_title {
      font-size: 30px;
    }
    &_txt {
      font-size: 14px;
      letter-spacing: 0.01em;
    }
    &_btn {
      width: 222px;
    }
  }

  .frontNews {
    &_title {
      &-l {
        font-size: 30px;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .frontPageHeader {
    &_title {
      font-size: 33px;
    }
  }

  .frontServices {
    &_wrapper {
      padding: 20px 15px 50px;
    }
  }

  .frontServicesItem {
    height: 500px;
    &_wrapper {
      padding: 40px;
    }
    &_btn {
      width: 100%;
    }
  }

  .frontCompany {
    &_txt {
      font-size: 13px;
      line-height: 2.7;
    }
    &_btn {
      width: 233px;
    }
  }
}

