.footerCv {
  margin: 0 30px;
  border-right: 1px solid #f0f0f0;
  border-left: 1px solid #f0f0f0;
  display: flex;
  justify-content: center;
  height: 174px;
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $txtColor;
    font-size: 14px;
  }
  &_left {
    width: 50%;
    background: #efefef;
    svg {
      margin-right: 24px;
    }
    &:hover {
      color: #efefef;
      background: $txtColor;
      svg path{
        fill: #fff;
      }
    }
  }
  &_right {
    width: 50%;
    background: #fff;
    flex-direction: column;
    &-1 {
      display: flex;
      align-items: center;
      svg {
        margin-right: 16px;
      }
    }
    &-2 {
      font-size: 24px;
      font-family: $mainFont;
      letter-spacing: 2px;
    }
    &-smalltxt {
      font-size: 14px;
    }
    &:hover {
      background: #000;
      color: #fff;
        .footerCv_right-1 svg path {
          fill: #fff;
        }
    }
  }
}

.pageTop {
  margin: 0 30px;
  &_btn {
    width: 100%;
    height: 120px;
    color: #fff;
    background: $bgDarkerColor;
    font-family: $mainFont;
    font-size: 12px;
    border-right: 1px solid $borderColor;
    border-left: 1px solid $borderColor;
    &:hover {
      color: $bgDarkerColor;
      background: #fff;
    }
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  margin: 0 30px;
  padding: 0 30px;
  border-right: 1px solid #f0f0f0;
  border-left: 1px solid #f0f0f0;
  &_wrapper {
    ul {
      display: flex;
      height: 120px;
      align-items: center;
      li {
        list-style: none;
        & + li {
          margin: 0 0 0 10px;
        }
        a {
          font-size: 12px;
          color: $txtLightColor;
          font-family: $mainFont;
        }
      }
    }
  }
}

.copyright {
  color: $txtLightColor;
  small {
    font-family: $mainFont;
    font-size: 12px;
  }
}

@media screen and (max-width: 1280px) {

  .footerCv {
    height: 348px;
    flex-direction: column;
    a {
      height: 100%;
    }
    &_left {
      width: 100%;
    }
    &_right {
      width: 100%;
    }
  }
}

@media screen and (max-width: 768px) {
  .footerCv {
    margin: 0 20px;
  }

  .pageTop {
    margin: 0 20px;
  }

  .footer {
    margin: 0 20px;
    flex-direction: column;
    height: auto;
    &_wrapper {
      ul {
        li {
          margin: 0 0 0 2.5vw;
          & + li {
            margin: 0 0 0 2.5vw;
          }
        }
      }
    }
  }
  .footerCv {
    height: 240px;
  }

  .copyright {
    padding: 10px 0;
    text-align: center;
  }

}

@media screen and (max-width: 480px) {
  .footerCv {
    margin: 0 15px;
  }

  .pageTop {
    margin: 0 15px;
  }

  .footer {
    margin: 0 15px;
  }
}
