/*------------------------
---------- header ---------
---------------------------*/

.header {
  margin: 0 30px;
  padding: 0 30px;
  border-right: 1px solid $borderColor;
  border-left: 1px solid $borderColor;
  border-bottom: 1px solid $borderColor;
  &_wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.headerPcNav {
  height: 90px;
  display: flex;
  &_menu {
    display: flex;
    li {
      height: 100%;
      width: 100px;
      list-style: none;
      text-align: center;
      a {
        font-family: $mainFont;
        height: 100%;
        width: 100%;
        line-height: 90px;
        display: inline-block;
        letter-spacing: 0.05em;
        transition: all .3s;
        &:hover {
         border-bottom: 2px solid #ee7f01;
        }
      }
    }
  }
}

.headerSpNav {
  display: none;
}

@media screen and (max-width: 1280px) {
  .headerPcNav {
    &_menu {
      li {
        width: 90px;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .header {
    padding: 0 15px;
  }

  .siteTitle {
    img {
      height: auto;
      width: 95%;
    }
  }

  .headerPcNav {
    &_menu {
      li {
        width: 75px;
        a {
          font-size: 13px;
        }
      }
    }
  }
}


// タブレット
@media screen and (max-width: 768px) {
  .header {
    margin: 0 20px;
    padding: 0;
    &_wrapper {
      padding: 10px 0;
    }
  }

  .siteTitle {
    margin: 0 0 0 10px;
  }

  .headerPcNav {
    display: none;
  }

  .headerSpNav {
    position: relative;
    display: block;
    &.active {
      nav {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    nav {
      display: none;
      height: 100%;
      width: 100%;
      background: $mainColor;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 20;
    }
    &_menu {
      height: auto;
      width: 100%;
      margin: 0 50px;
    }
    &_list {
      border-bottom: 1px solid #fff;
      a {
        width: 100%;
        padding: 25px 20px 25px 30px;
        color: #fff;
        font-size: 50px;
        font-family: $mainFont;
        font-weight: 200;
        display: block;
        position: relative;
        letter-spacing: 0.15em;
        span {
          margin: 0 0 0 45px;
          padding: 0 0 15px 0;
          font-size: 20px;
          vertical-align: middle;
        }
      }
    }
    &_btn {
      height: 25px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      position: relative;
      z-index: 30;
      &::before {
        content: 'MENU';
        font-family: $mainFont;
        font-size: 18px;
        position: absolute;
        left: -75px;
        top: -5px;
      }
      span {
        height: 2px;
        width: 30px;
        background: #333;
        display: block;
        transition: all .4s ease-out;
      }
      &.active {
        justify-content: center;
        position: fixed;
        top: 50px;
        right: 20px;
        &::before {
          content: 'CLOSE';
          color: #fff;
          top: -1px;
        }
        span {
          background: #fff;
          transform-origin: center;
          &:nth-of-type(1) {
            transform: rotate(-405deg) translate(-1px, 2px);
          }
          &:nth-of-type(2) {
            transform: translate(200%, 0);
            opacity: 0;
          }
          &:nth-of-type(3) {
            transform: rotate(405deg) translate(-1px, -2px);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .headerSpNav {
    &_list {
      a {
        padding: 20px 20px 20px 30px;
        font-size: 40px;
        letter-spacing: 0.1em;
        span {
          margin: 0 0 0 30px;
          padding: 0 0 10px 0;
          font-size: 17px;
        }
      }
    }
  }
}


// スマホ
@media screen and (max-width: 480px) {
  .header {
    margin: 0 15px;
    &_wrapper {
      padding: 15px 0;
    }
  }

  .siteTitle {
    width: 55%;
  }

  .headerSpNav {
    &_list {
      a {
        padding: 20px 15px;
        font-size: 30px;
        letter-spacing: 0.08em;
        span {
          margin: 0 0 0 25px;
          padding: 0 0 5px 0;
          font-size: 15px;
        }
      }
    }
    &_btn {
      height: 20px;
      &::before {
        font-size: 16px;
        left: -65px;
        top: -3px;
      }
      &.active {
        right: 15px;
      }
    }
  }
}

@media screen and (max-width: 420px) {
  .headerSpNav {
    &_menu {
      margin: 0 30px;
    }
    &_list {
      a {
        padding: 20px 15px;
        font-size: 26px;
        letter-spacing: 0.08em;
        span {
          margin: 0 0 0 20px;
          padding: 0 0 5px 0;
          font-size: 12px;
        }
      }
    }
  }
}
