.header {
  margin: 0 30px;
  padding: 0 30px;
  border-right: 1px solid #f0f0f0;
  border-left: 1px solid #f0f0f0;
  &_wrapper {
    padding: 10px 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.headerPcNav {
  height: 90px;
  display: flex;
  &_menu {
    display: flex;
    align-items: center;
    li {
      list-style: none;
      & + li {
        margin: 0 0 0 10px;
      }
    }
  }
}

.headerSpNav {
  display: none;
}




// タブレット
@media screen and (max-width: 768px) {
  .header {
    &_wrapper {
      padding: 10px;
    }
  }

  .headerPcNav {
    display: none;
  }

  .headerSpNav {
    position: relative;
    display: block;
    nav {
      display: none;
    }
    &_btn {
      height: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      span {
        height: 2px;
        width: 25px;
        background: #333;
        display: block;
        transition: all .4s ease-out;
      }
      &.active {
        justify-content: center;
        span {
          transform-origin: center;
          &:nth-of-type(1) {
            transform: rotate(-405deg) translate(-1px, 2px);
          }
          &:nth-of-type(2) {
            transform: translate(200%, 0);
            opacity: 0;
          }
          &:nth-of-type(3) {
            transform: rotate(405deg) translate(-1px, -2px);
          }
        }
      }
    }
  }


}


// スマホ
@media screen and (max-width: 480px) {

}
